<%-include('header');%>
<div class="product">
<h2>Add new products</h2>

<form action="/addcollection" method="post">
    <div class="mb-3" >
        <label for="exampleInputEmail1" class="form-label">Product category</label>
        <input type="text" class="form-control" name="category" aria-describedby="emailHelp">
       
      </div>
    <div class="mb-3" >
      <label for="exampleInputEmail1" class="form-label">Product name</label>
      <input type="text" class="form-control" name="title" aria-describedby="emailHelp">
     
    </div>
    <div class="mb-3 form-group" >
      <label for="exampleInputPassword1" class="form-label">Description of product</label>
     <textarea name="desc" class="form-control" cols="30" rows="10"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Price</label>
        <input type="text" class="form-control" name="price" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">image</label>
        <input type="text" class="form-control" name="img" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<%-include('footer');%>