<%-include('header');%>
<div>
<h4>choose payment method</h4>
<label for="cars">Choose method</label>

<select id="cars">
  <option value="card">card</option>
  <option value="paytm">paytm</option>
  <option value="upi">upi</option>
  <option value="net banking">net banking</option>
</select>
</div>


<%-include('footer');%>