<footer class="footer">
    <div class="box-footer">
     <div class="last-box">
      
      <h2>Get to Know Us</h2>
    <p>Careers</p>
    <p>Blog</p>
    <p>About Us</p>
    <p>Investor Relations</p>
    <p>Devices</p>
    <p>Science</p>
    
    
     </div>
     <div class="last-box">
    
    <h2>Make Money with Us</h2>
    
    <p>Sell products</p>
    <p>Sell on Business</p>
    <p>Sell apps</p>
    <p>Become an Affiliate</p>
    <p>Advertise Your Products</p>
    <p>Self-Publish with Us</p>
    <p>Host an Hub</p>
    <p>See More Make Money with Us</p>
    
    
     </div>
     <div class="last-box">
    
    <h2>Payment Products</h2>
    
    <p>Business Card</p>
    <p>Shop with Points</p>
    <p>Reload Your Balance</p>
    <p>Currency Converter</p>
    
    
     </div>
     </div>
     
     <div class="contact">
     <div class="contact-icon" ><i class="fa-solid fa-phone"></i></div>
     <div class="contact-icon" ><i class="fa-brands fa-twitter"></i></div>
     <div class="contact-icon" ><i class="fa-brands fa-facebook"></i></div>
     <div class="contact-icon" ><i class="fa-brands fa-instagram"></i></div>
    </div>
    </footer>
   <script src="/javascript/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    </html>